DATABASE_URL="postgresql://postgres:password@db.xxxx.supabase.co:5432/postgres"
OPENAI_API_KEY="sk-..."
ANTHROPIC_API_KEY="sk-ant-..."
NEXT_PUBLIC_AMOY_RPC="https://rpc-amoy.polygon.technology"
PRIVATE_KEY="0x..."
DEMO_MODE="live"
